@model IEnumerable<Expanse_Manager.Models.catagory>

@{
    ViewBag.Title = "catagory2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>catagory2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.catagory_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catagory_limit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.catagory_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.catagory_limit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
