@model Expanse_Manager.Models.catagory

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deletec</title>
    <link href="~/css/forms.css" rel="stylesheet" />
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>catagory</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.catagory_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.catagory_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.catagory_limit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.catagory_limit)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-success" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
